# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
npm-debug.log.*

# Config
#
.github
.vscode
.eslintrc.json
.gitignore
package-scripts.js
jest.config.mjs
tsconfig.json

# Application
#
scripts
docs
src
tests
coverage
CONTRIBUTTING.md
CHANGELOG.md
logo.svg