name: tests
on:
  push:
    branches:
      - master
    tags:
      - '!*'
    paths:
      - .github/workflows/*
      - src/**
      - '*.json'
      - '!*.MD'
      - '!docs/**'
  pull_request:
    paths:
      - .github/workflows/*
      - src/**
      - '*.json'
      - '!*.MD'
      - '!docs/**'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '18'
      - name: Install Modules
        run: npm i
      - name: Build Package
        run: npm run build
      - name: Run Tests
        run: npm t
      - name: Upload Coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: fff55059c877f2d5091c8a89cb5bebd3bcf12811355ce9e109e35f78c4bef96c
